<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
<title>Product</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet">
<style type="text/css">
</style>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
		rel="stylesheet" integrity="#" crossorigin="anonymous">

	<div class="container-fluid-center">
		<div class="row">
			<div class="col-md-3 ">
				<div class="list-group ">
					<a href="#" class="list-group-item list-group-item-action ">Category</a>
					<a href="#" class="list-group-item list-group-item-action active">Product</a>
					<a href="#" class="list-group-item list-group-item-action">User</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-2 border-right">
								<h4>Products</h4>
							</div>
							<div class="col-md-6"></div>

						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<table class="table table-hover ">
									<thead class="bg-light ">
										<tr>
											<th>
                                      			<div class="form-check-inline">
                                          		<label class="form-check-label">
                                            	<input type="checkbox" class="form-check-input" value="">
                                           		</label>
                                      		 </div>
                                    		</th>
											<th></th>
											<th>Name</th>
											<th>Quantity</th>
											<th>Unit price</th>
											<th>Discount</th>
											<th>Status</th>
											<th>Category</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
                                      			<div class="form-check-inline">
                                          		<label class="form-check-label">
                                            	<input type="checkbox" class="form-check-input" value="">
                                           		</label>
                                      		 </div>
                                    		</td>
                                    		<td><img src="images/img-01.png"></td>
											<td><small>TIVI SS</small></td>
											<td><small>20</small></td>
											<td><small>20.000.000</small></td>
											<td><small>20%</small></td>
											<td><small>Sales</small></td>
											<td><small>TIVI</small></td>
											<td>
											<a href="">EDIT</a>
											<a href="">DEL</a>
											</td>
										</tr>
										<tr>
											<td>
                                      			<div class="form-check-inline">
                                          		<label class="form-check-label">
                                            	<input type="checkbox" class="form-check-input" value="">
                                           		</label>
                                      		 </div>
                                    		</td>
                                    		<td><img src="images/img-01.png"></td>
											<td><small>TIVI SS</small></td>
											<td><small>20</small></td>
											<td><small>20.000.000</small></td>
											<td><small>20%</small></td>
											<td><small>Sales</small></td>
											<td><small>TIVI</small></td>
											<td>
											<a href="">EDIT</a>
											<a href="">DEL</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer text-muted">
								<form method="get" action="">
									<div class="form-group ">
										<label for="" >Page size: </label>
										<select class="form-control" name="" id="">
											<option value="5">5</option>
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30">30</option>
										</select>
									</div>
								</form>
								<nav aria-labe="Page navigation ">
									<ul class="pagination justify-content-center">
										<li class="page-item disable">
											<a class="page-link" href="#" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item "><a class="page-link" href="#">2</a></li>
										<li class="page-item ">
											<a class="page-link" href="#" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
												<span class="sr-only">Next</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
</body>
</html>
