<!DOCTYPE html>
<html xmlns:th="http:/www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Homepage</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container text-center">
		<div><h1>welcume to javacode springboot</h1></div>
		<div>
			<h3><a th:href="@{/list_users}">List all users</a></h3>
			<h3><a th:href="@{/Register}">Register</a></h3>
			<h3><a th:href="@{/DN}">Login</a></h3>
		</div>
	</div>
</body>
</html>